# Application
VITE_APP_NAME="MatoStudio Portfolio"
VITE_APP_URL="https://matostudio.fr"

# Contact
VITE_CONTACT_EMAIL="contact@matostudio.fr"
VITE_CONTACT_PHONE="+33758530169"

# Social links
VITE_GITHUB_URL="https://github.com/Matomina"
VITE_LINKEDIN_URL=""
VITE_PORTFOLIO_URL=""

# Forms
VITE_CONTACT_FORM_ENDPOINT=""

# Analytics - optional
VITE_ANALYTICS_ID=""